{% if section.settings.enabletext %}
  <div style="text-align: {{ section.settings.text_position }};">{{ section.settings.textid }}</div>
  <a href="{{ section.settings.textid }}"
    ><button>{{ section.settings.textid }}</button></a
  >
  <br>
{% endif %}

{% if section.settings.myimage %}
  <img src="{{ section.settings.myimage | img_url: '600x' }}" alt="" align="{{ section.settings.img_position }}">
{% endif %}

<hr>

<div class="gallery">
  {% for block in section.blocks %}
    <div class="gallery_item">
      {% if block.settings.enable_gallery_img %}
        <a href="{{ block.settings.image_url }}">
          <img src="{{ block.settings.gallery_image | img_url: '200x' }}" alt="">
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
